
<div class="back">

	<div class="body">
  
	  <div class="bcont">
		<div class="bback">
		  <div class="bicon">
			<!--METES LA IMAGEN AQUI-->
			<img src="/assets/images/bell.png" alt="">
		  </div>
		  <div class="text">
			<label>. FLO</label>
			<label>. RESTA</label>
		  </div>
		</div>
	  </div>
	  <div class="login">
  
		<form>

			<img src="/assets/images/bellwt.png" alt=""><br>
  
		  <div>
			<input type="text" class="input" name="user" placeholder="Usuario" autocomplete="off"/>
		  </div>
  
		  <div>
			<input type="password" class="input" name="pass" placeholder="Contraseña">
		  </div>
  
		  <div><br>
			<button class="button type1">Ingresar</button>
		  </div>
		  <!--esto es provisional, ya que debo probar el componente de registro de cliente-->
		  <div><br>
			<h6 class="h6">Si no tiene un usuario, registrese <a [routerLink]="['/clienteRegistro']">Aquí</a></h6>
		  </div>
  
		</form>
  
	  </div>
  
	</div>
  
	<div class="footer">
  
	  <div class="element">
		<div class="econt">
		  <div class="eicon">
			<!--METES LA IMAGEN AQUI-->
			<img src="/assets/images/map.png" alt="">
		  </div>
		</div>
		<div class="etitle">
		  <p><strong>Direccion</strong></p>
		</div>
		<div class="edesc">
		  <p>Calle 36 # 15-24</p>
		  <p>Barrio 12 Octubre</p>
		</div>
	  </div>
  
	  <div class="element">
		<div class="econt">
		  <div class="eicon">
			<!--METES LA IMAGEN AQUI-->
			<img src="/assets/images/clock.png" alt=""><br><br>
		  </div>
		</div>
		<div class="etitle">
		  <p><strong>Hora de apertura</strong></p>
		</div>
		<div class="edesc">
		  <p>Lunes - Domingo</p>
		  <p>8am - 9pm</p>
		</div>
	  </div>
  
	  <div class="element">
		<div class="econt">
		  <div class="eicon">
			<!--METES LA IMAGEN AQUI-->
			<img src="/assets/images/phone.png" alt=""><br><br>
		  </div>
		</div>
		<div class="etitle">
		  <p><strong>Telefono</strong></p>
		</div>
		<div class="edesc">
		  <p>+57 318 6962947</p>
		  <p>Fijo: 571 69 14</p>
		</div>
	  </div>
  
	  <div class="element">
		<div class="econt">
		  <div class="eicon">
			<!--METES LA IMAGEN AQUI-->
			<img src="/assets/images/mail.png" alt=""><br><br>
		  </div>
		</div>
		<div class="etitle">
		  <p><strong>Email</strong></p>
		</div>
		<div class="edesc">
		  <p>lafloresta@gmail.com</p>
		  <p>lafloresta@outlook.com</p>
		</div>
	  </div>
  
	</div>
  
  </div>
