<div class="body">
    <div class="return"><br>
        <button class="button type1" [routerLink]="['/clienteInicioProvisional']">Atrás</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
            </div>
        </div>
        <hr>
        
        <table class="table table-striped" *ngIf='clientes && clientes.length'>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">identificación</th>
                    <th scope="col">Nombre </th>
                    <th scope="col">Edad</th>
                    <th scope="col">sexo</th>
                    <th scope="col">direccion</th>
                    <th scope="col">celular</th>
                    <th scope="col">correo</th>
                    <th scope="col">usuario</th>
                    <th scope="col">VER</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes|filtroCliente:searchText; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ cliente.identificacion }} </td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.edad }}</td>
                    <td>{{ cliente.sexo }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.celular }}</td>
                    <td>{{ cliente.correo }}</td>
                    <td>{{ cliente.usuario }}</td>
                    <td><a [routerLink]="['/clienteEdita', cliente.identificacion ]">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>