<div class="body">

    <div class="return">
        <div><br>
            <button class="button type1" [routerLink]="['/home']">Cerrar</button>
            <label><h1 class="titulo">Producto</h1></label>
        </div>

        <div><br>
            <button class="button type1" placement="top" ngbPopover="Este no manda desde
            aqui ya que necesita una identificacion en el routerLink, entra a consultar 
            y le das en 'VER' uwu">Edita</button>  
        </div>
  
        <div><br>
            <button class="button type1" [routerLink]="['/productoConsulta']">consulta</button>
        </div>
    
        <div><br>
            <button class="button type1" [routerLink]="['/productoRegistra']">registro</button>
        </div>
    </div>

</div>