<div class="back">

	<div class="body">

		<div class="bcont">
			<div class="bback">
				<div class="bicon">
					<!--METES LA IMAGEN AQUI-->
					<img src="/assets/images/bell.png" alt="">
				</div>
				<div class="text">
					<label>. FLO</label>
					<label>. RESTA</label>
				</div>


			</div>

			<div class="ameeen">

				<div class="amenamen">
					
				</div>

				<div class="contenedorBtn">
					<button  class="button type1" [routerLink]="['/login']">Iniciar sesión</button><br><br>
					<button  class="button type1" [routerLink]="['/realizarReserva']">Realizar reserva</button>
				</div>
				

			</div>

		</div>
		
		<!--<div class="login">

			<form>

				<div>
					<input type="text" name="username" placeholder="User name">
				</div>

				<div>
					<input type="password" name="pass" placeholder="Password">
				</div>

				<div>
					<button>Login</button>
				</div>

			</form>

		</div>-->

		<div class="amen">
			<div class="slider-text-inner text-center">
				<div class="desc">
					<img src="/assets/images/bellwt.png" alt="">
					<h1>Hotel La Floresta</h1>
					<p><span>Valledupar/</span> <span>/Cesar</span></p>
					<div class="desc2"></div>
				</div>
			</div>
		</div>



	</div>

	<div class="footer">

		<div class="element">
			<div class="econt">
				<div class="eicon">
					<!--METES LA IMAGEN AQUI-->
					<img src="/assets/images/map.png" alt="">
				</div>
			</div>
			<div class="etitle">
				<p><strong>Direccion</strong></p>
			</div>
			<div class="edesc">
				<p>Calle 36 # 15-24</p>
				<p>Barrio 12 Octubre</p>
			</div>
		</div>

		<div class="element">
			<div class="econt">
				<div class="eicon">
					<!--METES LA IMAGEN AQUI-->
					<img src="/assets/images/clock.png" alt=""><br><br>
				</div>
			</div>
			<div class="etitle">
				<p><strong>Hora de apertura</strong></p>
			</div>
			<div class="edesc">
				<p>Lunes - Domingo</p>
				<p>8am - 9pm</p>
			</div>
		</div>

		<div class="element">
			<div class="econt">
				<div class="eicon">
					<!--METES LA IMAGEN AQUI-->
					<img src="/assets/images/phone.png" alt=""><br><br>
				</div>
			</div>
			<div class="etitle">
				<p><strong>Telefono</strong></p>
			</div>
			<div class="edesc">
				<p>+57 318 6962947</p>
				<p>Fijo: 571 69 14</p>
			</div>
		</div>

		<div class="element">
			<div class="econt">
				<div class="eicon">
					<!--METES LA IMAGEN AQUI-->
					<img src="/assets/images/mail.png" alt=""><br><br>
				</div>
			</div>
			<div class="etitle">
				<p><strong>Email</strong></p>
			</div>
			<div class="edesc">
				<p>lafloresta@gmail.com</p>
				<p>lafloresta@outlook.com</p>
			</div>
		</div>

	</div>

</div>
