<div class="headerrr">
    <h2 class="hmm" [routerLink]="['/inicioHotel']">Hotel La Floresta</h2><br><br><br>

</div>


<div class="galeria">

    <div class="footer">

        <div class="linea">

            <div class="aver"></div>

            <div>
                <div class="dataaaa">
                    <mat-form-field color="accent">
                        <mat-label>Fecha llegada</mat-label>
                        <input matInput [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div class="dataaaa">
                    <mat-form-field color="accent">
                        <mat-label>fecha salida</mat-label>
                        <input matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="chekk">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="r1" value="1">Aire acondicionado</mat-radio-button>
                    <mat-radio-button value="2">Ventilador</mat-radio-button>
                  </mat-radio-group>

            </div>

            <div class="">
                <div class="">
                    <mat-form-field>
                        <mat-label>Tipo de habitacion</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </div>
    </div>


    <div class="body">

        <div class="pestaña">
            <div class="iz"></div>
            <div class="cen"> Habitaciones </div>
            <div class="der"></div>
        </div>


        <div class="contenedor-imagenes">

            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>


            </div>
            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom3.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>
            </div>
            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>
            </div>
            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom3.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>
            </div>
            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom2.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>
            </div>
            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom3.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>
            </div>
            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>
            </div>
            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom3.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>
            </div>
            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>
            </div>
            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>
            </div>
            <div class="imagen" (click)="change()">

                <img src="/assets/images/rom.jpg" alt="">
                <div class="overlay">
                    <h2>RESERVAR</h2>
                </div>
            </div>

        </div>

    </div>

</div>


<div class="mod" *ngIf="modal">
    <div id="modal" cdkDrag>
        <div class="mopt">
            <div class="btnClose" (click)="change()">
                <img class="imgC" src="../../assets/images/signs.png" alt="cerrar">
            </div>
        </div>
        <div class="logo">
            <div class="piclogo">
                <img class="img" src="/assets/images/LogoShido.PNG" alt="logo">
            </div>
        </div>
        <div class="tit">
            <h3>HABITACIÓN # PARLA</h3>
        </div>
        <div class="br">
            <div class="brCenter"></div>
        </div>
        <div class="parla">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. </p>
        </div>
        <div class="pic">
            <div class="picimg">
                <img class="img" src="/assets/images/rom3.jpg" alt="cuarto">
            </div>
        </div>
        <div class="res">
            <div class="contenedorBtn">
                <button class="button type1">Confirmar reserva</button>
            </div>
        </div>
        <div class="icons">
            <div class="icon">
                <img class="img" src="/assets/images/cama.png" alt="icon">
            </div>
            <div class="icon">
                <img class="img" src="/assets/images/ducha.png" alt="icon">
            </div>
            <div class="icon">
                <img class="img" src="/assets/images/tv.png" alt="icon">
            </div>
            <div class="icon">
                <img class="img" src="/assets/images/wifi.png" alt="icon">
            </div>
            <div class="icon">
                <img class="img" src="/assets/images/telephone.png" alt="icon">
            </div>
            <div class="icon">
                <img class="img" src="/assets/images/machine.png" alt="icon">
            </div>
            <div class="icon">
                <img class="img" src="/assets/images/hot.png" alt="icon">
            </div>
        </div>
    </div>
</div>